{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Certamen TLP</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/misestilos.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css"
    />
  </head>
  <body>

    {% block content %}
    
      <div class="d-flex">
        <img
          src="{% static 'myapp/img/version horizontal.jpg' %}"
          id="imagen"
          class="img-fluid"
        />
        <img
          src="{% static 'myapp/img/calendario.jpg' %}"
          id="imagen2"
          class="img-fluid"
        />
      </div>

      {% block contenido_adicional %}
      {% endblock %}

      <div class="container-fluid">
        <div class="row">
          <div class="col-6 gx-5">
            <select class="form-select" aria-label="Default select example">
              <option value="" disabled selected>Segmento</option>
              {% for segmento in Segmentos %}
                <option value="1">{{ segmento.nombre }}</option>
              {% endfor %}
            </select>
          </div>

          <div class="col-6 gx-5">
            <select class="form-select" aria-label="Default select example">
              <option value="" disabled selected>Tipo</option>
              {% for tipo in Tipos %}
                <option value="1">{{ tipo.nombre }}</option>
              {% endfor %}
            </select>
          </div>
        </div>
      </div>

      <br />

      <div class="container">
        <div class="row">
          <div class="col-12">
            <table class="table table-bordered text-center">
              <thead>
                <tr>
                  <th colspan="5">Actividades</th>
                </tr>
              </thead>

              <thead>
                <tr>
                  <th>Hito</th>
                  <th>Fecha Inicio</th>
                  <th>Fecha Término</th>
                  <th>Tipo</th>
                  <th>Segmento</th>
                </tr>
              </thead>
              {% for evento in Evento %}
              <tbody>
                <tr>
                  <td>{{ evento.id}}</td>
                  <td>{{ evento.fecha_inicio }}</td>
                  <td>{{ evento.fecha_termino }}</td>
                  <td>{{ evento.tipo }}</td>
                  <td>{{ evento.segmento }}</td>
                </tr>
              </tbody>
              {% endfor %}
            </table>
          </div>
        </div>
      </div>

      <footer class="text-center mt-4 bg-primary text-white p-3">
        <p>Universidad Técnico Federico Santa María</p>
      </footer>

    {% endblock %}

  </body>

</html>
