{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Certamen 3</title>
    <link rel="stylesheet" href="{% static 'myapp/css/bootstrap.css' %}" />
    <link rel="stylesheet" href="{% static 'myapp/css/misestilos.css' %}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css" />
    
    
</head>
<body>
    <H1>Hola mundo</H1>
    
</body>
</html>