{% extends 'myapp/base.html' %} {% block contenido_adicional %}
<!-- Aquí puedes agregar tu contenido específico, como las tarjetas -->
<div class="container d-flex flex-row">
  <div class="card-container me-3 mb-4">
    <div class="card mx-auto" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">23</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Marzo</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ut.
        </p>
      </div>
    </div>
  </div>

  <div class="card-container me-3 mb-4">
    <div class="card mx-auto" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">23</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Marzo</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ut.
        </p>
      </div>
    </div>
  </div>

  <div class="card-container me-3 mb-4">
    <div class="card mx-auto" style="max-width: 18rem;">
      <div class="card-body">
        <h5 class="card-title">23</h5>
        <h6 class="card-subtitle mb-2 text-body-secondary">Marzo</h6>
        <p class="card-text">
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Error, ut.
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}
